body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #1779ba;
  text-decoration: none;
  word-wrap: break-word;
}

h1 {
  font-size: 1.6rem;
  margin: 3rem 0 1rem;
}

h2 {
  font-size: 1.4rem;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem;
}

h4 {
  font-size: 1.0rem;
  margin: 1rem 0 0;
}

p {
  margin: 0.5rem 0;
}

hr {
  margin: 2rem 0;
  border-color: #ccc;
  border-width: 0 0 1px;
  border-style: solid;
}

li {
  margin-bottom: 0.5rem;
}

main {
  max-width: 70rem;
  margin: 2rem auto 5rem;
  padding: 1rem;
}

.logo ul {
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.logo li {
  text-align: center;
  -ms-align-self: center;
  align-self: center;
}

.logo img {
  margin-bottom: 1rem;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .logo ul {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }

  .logo img {
    max-width: 200px;
  }
}
